.main-navigation {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  background: #F55A5A;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  text-decoration: none;
}

.logo__title {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: -0.075em;

  color: #FFFFFF;
}


.cards {
  display: flex;
  flex-direction: column;
  row-gap: 2.25em;

  width: 100%;
  margin: 2.813em 0;
  padding: 0 2.5em;
}

.card {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.188em;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.cards .card:not(:last-child):after {
  content: "";
  margin: 0;
  width: 100%;
  border-top: 1px solid #F5F5F5;
  left: 0;
  bottom: -11%;
  position: absolute;
}

.card__img {
  display: block;
  max-width: 28%;
  aspect-ratio: 16 / 21;
  border-radius: 5px;
  object-fit: cover;
}

.content-wrapper {
  font-size: 0.64rem;
  color: #2B283A;
}

.location {
  display: flex;
  align-items: center;
}

.location span {
  margin-left: 0.25em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.location__link {
  margin-left: 0.75em;
  color: #918E9B;
}

.card__title {
  margin-top: 0.25em;
  font-weight: 700;
  font-size: 1.563rem;
}

.card__date {
  margin-top: 0.938em;
  font-weight: 700;
}

.card__desc {
  max-width: 326px;
  margin-top: 0.563em;
  line-height: 1.5;
}

@media(max-width: 393px) {
  .card__img {
    aspect-ratio: 16 / 25;
  }
}

@media(max-width: 480px) {
  .cards {
    padding: 0 1em;
    margin: 2.5em 0;
  }

  .card {
    column-gap: 1em;
  }

  .card__title {
    font-size: 1.25rem;
  }

  .location span {
    letter-spacing: 0.13em;
  }

  .card__desc {
    line-height: 1.4;
  }
}

