*, *::before, *::after {
	box-sizing: border-box;    
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  font-weight: 400;

  background: #FFFFFF;
}

body {
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}